.App {
	display: flex;
	text-align: center;
	height: 100vh;
}
.taskName {
	font-size: x-large;
}
.container {
	position: relative;
	display: flex;
	width : 100%;
}
.taskDelete {
	left: 10px;
}
.todos {
	background-color: wheat;
	width: 50vw;
}
.tasks {
	margin-top: 10%;
	width: 50vw;
	font-size: x-large;
}
.todoHeader {
	margin-top: 5%;
}
.todoBody {
	margin-left: 30%;
	margin-top: 5%;
}
.task {
	background-color: rgba(216, 112, 147, 0.548);
}
.taskList {
	position: relative;
	top: 7%;
	font-size: xx-large;
}
