.App {
	text-align: center;
	position:absolute;
	top : 5%;
	left: 45%;
}
.display {
	font-size: x-large;
}
.container {
	position: relative;
	display: flex;
	width : 100%;
}
.task {
	position: relative;
	left: 450px;
	top : -230px;
}
.taskDelete {
	left: 10px;
}
